{% extends "base.html" %}

{% block title %}Şifre Sıfırla{% endblock %}

{% block content %}
<div class="card shadow p-4 col-md-6 mx-auto">
    <h3 class="text-center mb-4">🔒 Şifre Sıfırlama</h3>
    <form method="POST">
        <div class="mb-3">
            <label class="form-label">Kullanıcı Adı</label>
            <input type="text" name="username" class="form-control" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Yeni Şifre</label>
            <input type="password" name="new_password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-success w-100">Şifreyi Sıfırla</button>
    </form>
</div>
{% endblock %}
